<div _ngcontent-lue-c22="" class="footerlogo" style="
    position: absolute;
    background: black;
    width: 99%;
    height: 70%;
"><a _ngcontent-lue-c22="" href="">
<img _ngcontent-twy-c22="" _ngcontent-lue-c22="" src="../../assets/logo.svg" alt="" style="position: absolute;margin-top: 54px;margin-left: 63px;"></a></div>
<p _ngcontent-lpp-c22="" class="fm77Line1" style="
    
    line-height: 15px;
    color: #fff;
    font-family: Roboto system-ui;
    font-size: 15px;
    font-weight: 800;
    position: absolute;
    margin-top: 154px;
    margin-left: 80px;
">Vaishnavi Tech Park, 3rd &amp; 4th Floor</p>
<p class="fm77Line2" style=" 
    line-height: 15px;
    color: #fff;
    font-family: Roboto system-ui;
    font-size: 15px;
    font-weight: 800;
    position: absolute;
    margin-top: 175px;
    margin-left: 80px;
">Sarjapur Main Road, Bellandur</p>
<p class="fm77Line2" style=" 
    line-height: 15px;
    color: #fff;
    font-family: Roboto system-ui;
    font-size: 15px;
    font-weight: 800;
    position: absolute;
    margin-top: 195px;
    margin-left: 80px;
">Bengaluru – 560103</p>
<div class="cur-po"><p class="fm77Line2 fm77ContactUs">
<a href="https://groww.in/help/my-account/searchable/customer-care-and-grievance-escalation-matrix-14" style=" 
    line-height: 15px;
    color: #fff;
    font-family: Roboto system-ui;
    font-size: 15px;
    font-weight: 800;
    position: absolute;
    margin-top: 205px;
    margin-left: 80px;
"><u>Contact Us</u></a></p></div>
<div _ngcontent-ger-c22="" class="product" style="
    position: absolute;
    margin-top: 64px;
    margin-left: 430px;
    color: #fff;
    font-family: roboto system-ui;
    font-size: 18px;
    font-weight: 500;
">PRODUCTS</div>
<a _ngcontent-epk-c22="" target="_self" href="https://groww.in/stocks" class="col l12 fm77FooterLink" style="
    position: absolute;
    margin-top: 100px;
    margin-left: 430px;
    color: #fff;
    text-decoration: none;
    font-family: roboto system-ui;
    font-size: 15px;
    font-weight: 500;
">Stocks</a><a _ngcontent-qsr-c22="" target="_self" href="https://groww.in/futures-and-options" class="col l12 fm77FooterLink" style="
    position: absolute;
    margin-top: 127px;
    margin-left: 430px;
    color: #fff;
    text-decoration: none;
    font-family: roboto system-ui;
    font-size: 15px;
    font-weight: 500;
">Futures &amp; Options</a>
<a _ngcontent-lcv-c22="" target="_self" href="https://groww.in/mutual-funds" class="col l12 fm77FooterLink" style="
    position: absolute;
    margin-top: 156px;
    margin-left: 430px;
    color: #fff;
    text-decoration: none;
    font-family: roboto system-ui;
    font-size: 15px;
    font-weight: 500;
">Mutual Funds</a>
<div _ngcontent-ger-c22="" class="GROWW" style="
    position: absolute;
    margin-top: 64px;
    margin-left: 620px;
    color: #fff;
    font-family: roboto system-ui;
    font-size: 18px;
    font-weight: 500;
">GROWW</div>
<a _ngcontent-xtw-c22="" target="_self" href="https://groww.in/about-us" class="col l12 fm77FooterLink" style="
    position: absolute;
    margin-top: 99px;
    margin-left: 630px;
    color: #fff;
    text-decoration: none;
    font-family: roboto system-ui;
    font-size: 15px;
    font-weight: 500;
">About Us</a>
<a _ngcontent-qni-c22="" target="_self" href="https://groww.in/pricing" class="col l12 fm77FooterLink" style="
    position: absolute;
    margin-top: 128px;
    margin-left: 630px;
    color: #fff;
    text-decoration: none;
    font-family: roboto system-ui;
    font-size: 15px;
    font-weight: 500;
">Pricing</a>
<a _ngcontent-mhm-c22="" target="_self" href="https://groww.in/blog" class="col l12 fm77FooterLink" style="
    position: absolute;
    margin-top: 158px;
    margin-left: 630px;
    color: #fff;
    text-decoration: none;
    font-family: roboto system-ui;
    font-size: 15px;
    font-weight: 500;
">Blog</a>
<div _ngcontent-ger-c22="" class="QUICK LINKS" style="
    position: absolute;
    margin-top: 64px;
    margin-left: 780px;
    color: #fff;
    font-family: roboto system-ui;
    font-size: 18px;
    font-weight: 500;
">QUICK LINKS</div>
<a _ngcontent-oet-c22="" target="_self" href="https://groww.in/mutual-funds/amc" class="col l12 fm77FooterLink" style="
    position: absolute;
    margin-top: 100px;
    margin-left: 787px;
    color: #fff;
    text-decoration: none;
    font-family: roboto system-ui;
    font-size: 15px;
    font-weight: 500;
">AMC Mutual Funds</a>
<a _ngcontent-ciy-c22="" target="_self" href="https://groww.in/calculators" class="col l12 fm77FooterLink" style="
    position: absolute;
    margin-top: 130px;
    margin-left: 787px;
    color: #fff;
    text-decoration: none;
    font-family: roboto system-ui;
    font-size: 15px;
    font-weight: 500;
">Calculators</a>
<a _ngcontent-oob-c22="" target="_self" href="https://groww.in/p" class="col l12 fm77FooterLink" style="
    position: absolute;
    margin-top: 162px;
    margin-left: 787px;
    color: #fff;
    text-decoration: none;
    font-family: roboto system-ui;
    font-size: 15px;
    font-weight: 500;
">Glossary</a>
<hr _ngcontent-dki-c22="" style="
    position: absolute;
    color: #eee;
    height: 1px;
    width: 92%;
    margin-left: 34px;
    margin-top: 280px;
">
<div _ngcontent-hll-c22="" class="footer-text" style="
    position: absolute;
    color: #fff;
    height: 1px;
    width: 63%;
    /* margin-left: 165px; */
    margin-top: 310px;
    margin-left: 480px;
">ⓒ&nbsp;2016-2023 Groww. All rights reserved, Built with <span _ngcontent-hll-c22="" class="footer-Img">
♥</span> in India</div>