<div class="secondaryFooter_secondaryFooterHeadingContainer__8wPsY">
<div class="secondaryFooter_iconHeading__cCrBr">
<div class="background">
<svg _ngcontent-tss-c21="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="64" width="64" style="
    margin-left: 685px;
    margin-top: 50px;
">
<path _ngcontent-tss-c21="" d="M0 0h24v24H0z" fill="none"></path>
<path _ngcontent-tss-c21="" d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"></path></svg>
</div><div class="secondaryFooter_heading__kSlY0">
<span _ngcontent-qfg-c21="" style="
    font-size: 64px;
    color: #44475B;
    margin-top: -328px;
    position: absolute;
    margin-left: 519px;
">Finance simplified, <br _ngcontent-qfg-c21=""> in your language.</span>
</div>
<div class="secondaryFooter_navigationLinkContainer__HHd7a">
<div>
<a _ngcontent-xgk-c21="" target="_blank" href="https://www.youtube.com/channel/UCw5TLrz3qADabwezTEcOmgQ" class="CardButton_linkToPage__ssMAe fs16 cur-po absolute-center clrText" style="
    color: #44475b;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 25.6px;
    word-spacing: 0px;
    /* display: inline; */
    /* margin: 31px -21px 0px 0px; */
    position: absolute;
    font-family: roboto, system-ui;
    margin-top: -119px;
    margin-left: 589px;
">Youtube<a _ngcontent-jib-c21="" target="_blank" href="https://groww.in/digest" class="CardButton_linkToPage__ssMAe fs16 cur-po absolute-center clrText" style="
    color: #44475b;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 25.6px;
    word-spacing: 0px;
    /* display: inline; */
    /* margin: 31px -21px 0px 0px; */
    position: absolute;
    font-family: roboto, system-ui;
    width: 200px;
    margin-left:189px;
">Groww Digest<span _ngcontent-jib-c21="" class="secondaryFooter_eastIcon__lIScf"></span></a>